* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-body{
  min-height: 350px;
  width: 300px;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 20px;
}
.top{
  height: 130px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 20px;
}
.profile{
  height: 80px;
  width: 80px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 50%;
  position: relative;
  top: 55%;
  left: 5%;
  border: 2px solid white;
}

.middle{
  margin: 25px 10px;
}
.middle-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.save{
  padding: 7px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
}
.skills{
  display: flex;
  gap: 5px;
  margin: 10px 0px;
}
.skill-tag{
  background-color: #e6e6e6;
  border-radius: 25px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
}
.more{
  background-color: transparent;
  border: 2px solid #bfbfbf;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.divider{
  width: 2px;
  height: 25px;
  background-color: #bfbfbf;
}
.info h2{
  font-size: 1.3rem;
  margin: 0px;
}
.info p{
  font-size: small;
  font-weight: 600;
  color: #969696;
}

.bottom{
  text-align: center;
}
button{
  margin: 15px auto;
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-weight: 600;
  background-color: #111;
  color: #f3f3f3;
  border: none;
}